<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.mybatiscache.dao.BookDao">
    <!-- 开启mybatis二级缓存 -->
    <cache type="com.baizhi.mybatiscache.cache.RedisCache"/>

    <select id="findAll" parameterType="String" resultType="Book">
        select * from t_book
    </select>

    <delete id="findBookById" parameterType="Book">
        delete from t_book where bid = #{bid}
    </delete>

</mapper>