<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.EmployeeDao">
    <!-- 开启mybatis二级缓存 -->
    <!--<cache type="com.baizhi.cache.RedisCache"/>-->
    <cache-ref namespace="com.baizhi.dao.UserDao"/>

    <select id="findEmployeeById" parameterType="String" resultType="Employee">
        select * from t_employee where id = #{id}
    </select>

    <delete id="deleteEmployeeById" parameterType="String">
        delete from t_employee where id = #{id}
    </delete>

</mapper>